*.sw?
*/**/.terraform
*/**/*.tfstate*
*tfstate
*/**/*.lock*.hcl
ansible/playbooks/grafana_dashboards/redpanda-grafana.json
ansible/playbooks/tls/ca
ansible/playbooks/tls/certs
hosts.ini
.DS_Store
.idea/*
aws/_override.tf
gcp/_override.tf
azure/_override.tf
ibm/_override.tf
