*.sw?
*/**/.terraform
*/**/*.tfstate*
*tfstate
aws/aws/**
*/**/*.lock*.hcl
ansible/grafana_dashboards/redpanda-grafana.json
ansible/tls/ca
ansible/tls/certs
hosts.ini
.DS_Store
.idea/*
aws/_override.tf
gcp/_override.tf
azure/_override.tf
*.tfvars
ibm/_override.tf
