---
- name: Download the Redpanda repo script
  get_url:
    url: "{{ redpanda_repo_script }}"
    dest: "/tmp/redpanda_repo_script.sh"
    mode: '0755'

- name: Execute the Redpanda repo script
  ansible.builtin.command:
    cmd: sudo -E /tmp/redpanda_repo_script.sh

- name: Install redpanda from repository
  ansible.builtin.apt:
    name:
      - redpanda{{ '' if redpanda_version=='latest' else '=' + redpanda_version }}
    state: "{{ redpanda_install_status }}"
    update_cache: true
  register: package_result
  when: ansible_os_family == 'Debian'

- name: Install redpanda from repository
  ansible.builtin.yum:
    name:
      - redpanda{{ '' if redpanda_version=='latest' else '-' + redpanda_version }}
    state: "{{ redpanda_install_status }}"
    update_cache: true
  register: package_result
  when: ansible_os_family == 'RedHat'

- name: Set data dir file perms
  ansible.builtin.file:
    path: "{{ redpanda_data_directory }}"
    owner: redpanda
    group: redpanda
