- name: ensure /etc/redpanda exists
  file:
    path: /etc/redpanda
    state: directory
    mode: 0755

- name: Identify advertised ip address
  set_fact:
    advertised_ip: "{{ inventory_hostname if (advertise_public_ips | d() | bool) else private_ip }}"

# start out with an empty configuration object so we can fill in later based on
# jinja templates or ansible variables defined by the user in
# custom_config_template
#
- name: Reset configuration
  set_fact:
    configuration: {}

# fill out the empty configuration object and merge all appropriate templates
# together this is used to make it easier to have the tls details in a separate
# template, but coalesce into a single configuration object
#
- name: Generate configurations
  set_fact:
    configuration: "{{ configuration | combine(lookup('template', custom_config_template.template) | from_yaml, recursive=True) }}"
  loop: "{{ custom_config_templates }}"
  loop_control:
    loop_var: custom_config_template
  when: custom_config_template.condition | default(True)

# merge in user's overrides of items in the templates
#
- name: Merge with user-provided overrides (via redpanda variable)
  set_fact:
    configuration: "{{ configuration | combine(redpanda | default({}), recursive=True) }}"

# on first startup, the redpanda process will create this directory and
# populate.  we need to use this as a trigger to restart redpanda after
# bootstrapping the first time.
#
- name: Check if node looks like it's been initialized
  ansible.builtin.stat:
    path: "{{ redpanda_data_directory }}/redpanda/controller"
  register: controller_stat

# a node is only considered initialized if the controller directory 
# exists and is populated.
- set_fact:
    is_initialized: "{{ controller_stat.stat.isdir is defined and controller_stat.stat.isdir }}"

# first run of Generate Node config
#
# This run occurs during initial bootstrapping where rpk can push some
# configurations into the file directly
#
- name: Generate Node config - first run
  ansible.builtin.template:
    src: "redpanda.yml"
    dest: "/etc/redpanda/redpanda.yaml"
    owner: redpanda
    group: redpanda
  register: nodeconfig_result
  when: not is_initialized

# Related to first run of Generate Node config
#
# contains some initial bootstrapping configurations required to get
# redpanda to startup the first time
#
- name: Generate bootstrap
  ansible.builtin.template:
    src: "bootstrap.yml"
    dest: "/etc/redpanda/.bootstrap.yaml"
    owner: redpanda
    group: redpanda
  when: not is_initialized


# This starts up the tuner process which modifies various redpanda items and
# os-level sysctls to optimize the node.
#
# tuner settings are in the rpk.tune_* hierarchy.
#
# For more information on the tuners, go to 
#   https://docs.redpanda.com/docs/platform/reference/rpk/rpk-redpanda/rpk-redpanda-tune/
#
- name: start redpanda-tuner
  systemd:
    name: redpanda-tuner
    state: started

# ensure that systemd starts up redpanda
- name: start redpanda
  systemd:
    name: redpanda
    state: started

# every node must have a unique node id. we extract it for use elsewhere
#
- name: Establish node id
  ansible.builtin.shell:
    cmd: "rpk cluster status | sed 's/*//g' | grep {{ hostvars[inventory_hostname].private_ip }} | awk '{ print $1;}'"
  register: node_id_out
  changed_when: False

# make the node id a reusable fact
#
- name: Set node id
  set_fact:
    node_id: "{{ node_id_out.stdout | int() }}"

# query the redpanda cluster configuration versions so we can determine later
# if a cluster config change operation require node restarts.
#
# this grabs the published configuration version off each node in the cluster
# and shows the highest version
#
# NOTE: the cluster configuration is different than the per-node redpanda.yaml
# configuration.  cluster configuration is set through rpk commands and propogates
# to each node in the cluster via an internal topic
#
- name: Establish Redpanda's current config version
  ansible.builtin.shell:
    cmd: "rpk cluster config status | awk 'BEGIN{NR!=1}{a=0}{if ($2>a) a=$2} END {print a}'"
  register: config_version
  changed_when: False
  run_once: true

# set cluster-wide configurations
#
# `config set` operations trigger a version update to occur, if and only if the
# config value was different. The tool always logs that the configuration was
# successfully set, requiring us to track the version change for other
# operations like restarts
#
# NOTE: the cluster configuration is different than the per-node redpanda.yaml
# configuration.  cluster configuration is set through rpk commands and
# propogates to each node in the cluster via an internal topic
#
# TODO: fix changed_when to stop throwing ansible warnings on the jinja {{}} parsing
# 
- name: Set cluster config
  ansible.builtin.shell:
    cmd: "rpk cluster config set {{ item.key }} {{ item.value }}"
  loop: "{{ configuration.cluster | dict2items }}"
  register: result
  changed_when: '"New configuration version is {{ config_version.stdout|int() }}." not in result.stdout'
  run_once: true

# see if a cluster config operation should trigger ansible to restart each
# redpanda instance in the cluster
#
- name: Check if restart needed
  ansible.builtin.shell:
    cmd: "rpk cluster config status | grep '^{{ node_id }} ' | awk '{ print $3 }' |  grep -E 'true|false'"
  register: restart_required_rc
  changed_when: False

# We need to run the node config again after first run because some things
# could have changed out-of-band. Since rpk can modify the config on your
# behalf, we want to reset it back to a known templated state.
#
- name: Generate Node config - subsequent runs
  ansible.builtin.template:
    src: "redpanda.yml"
    dest: "/etc/redpanda/redpanda.yaml"
    owner: redpanda
    group: redpanda
  register: nodeconfig_result
  when: is_initialized

# Determine if a restart is necessary based on the following logic
# 
# set restart_node to false in your Ansible variables if you want to manage
# restarts on your own. 
#
#   (
#     The rpk cluster config status says that this node requires restarting
#     OR
#     (
#      The node has been initialized (i.e. it's not a new install)
#      AND
#        (
#        The /etc/redpanda/redpanda.yaml file was changed as part of this run
#        OR
#        The package has been upgraded via apt or yum
#        )
#      )
#    )
#    AND
#    The restart_node variable has not been set to false by the user
#
- name: Establish whether restart required
  set_fact:
    restart_required: '("true" in restart_required_rc.stdout or (is_initialized and (nodeconfig_result.changed or "Removed" in package_result.results or "1 upgraded" in package_result.results))) and (restart_node | default("true") | bool)'

# attempt to do a rolling, serial restart by putting each node into maintenance
# mode, restarting, and putting it back into service. This is throttled to allow
# only one node out of service at a time.
#
- name: Safe restart
  ansible.builtin.shell:
    cmd: "rpk cluster maintenance enable {{ node_id }} --wait && systemctl restart redpanda && rpk cluster maintenance disable {{ node_id }}"
  when: restart_required
  throttle: 1
