---
- hosts: redpanda
  vars: 
    # pin node_exporter to a specific version instead of 'latest' to prevent 
    # the role from continually hitting github on each run. this reduces the
    # risk of getting ansible run failures when github api limits are reached
    #
    node_exporter_version: node_exporter_version | default('1.5.0')
  roles:
    - geerlingguy.node_exporter

  tasks:
    - name: fedora setup
      when: ansible_os_family == 'RedHat'
      block:
        - name: delete unused repos
          ansible.builtin.file:
            name: "{{item}}"
            state: absent
          with_items:
            - /etc/yum.repos.d/fedora-updates-modular.repo
            - /etc/yum.repos.d/fedora-cisco-openh264.repo
        - name: install base deps
          ansible.builtin.package:
            name:
              - iotop
              - mdadm
              - xfsprogs
            state: present

    - name: add additional debian repos
      when: ansible_distribution == 'Debian'
      ansible.builtin.apt_repository:
        repo: deb http://deb.debian.org/debian stretch-backports main
        state: present

    - name: update packages - debian
      ansible.builtin.apt:
        update_cache: true
        force_apt_get: true
      when: ansible_os_family == 'Debian'

    - name: install base deps - debian
      ansible.builtin.apt:
        name:
          - iotop
          - mdadm
          - xfsprogs
        state: present
        update_cache: true
      when: ansible_os_family == 'Debian'
