---
- name: bundle rpms
  hosts: client
  vars:
    basearch: "x86_64" # must match the output of `uname -m`
    os_distribution_major_version: "34" # must match the output of `. /etc/os-release && echo ${VERSION_ID%%.*}`
    os_distribution: "fedora" # must match the output of `. /etc/os-release && echo $ID`
    redpanda_version: "23.1.13-1" # note that the -1 is the build number for this version. it is typically -1 but if the version is incremented it will be higher
    rpm_or_deb: "rpm"
  tasks:
    - name: Bundle rpms for airgap
      ansible.builtin.include_role:
        name: redpanda.cluster.binary_bundler
      run_once: true
