cluster:
  cluster_id: redpanda
  organization: redpanda-test
  mode: production
  rpc_server_tcp_recv_buf: 65536
  enable_rack_awareness: {{ true if rack is defined and rack != -1 else false }}
node:
  redpanda:
    node_id: "{{ id }}"
    advertised_kafka_api:
      {% if advertise_public_ips | d() | bool %}
      address: {{ inventory_hostname }},
      {% else %}
      address: {{ hostvars[inventory_hostname].private_ip }},
      {% endif %}
      port: 9092
    advertised_rpc_api:
      address: {{ hostvars[inventory_hostname].private_ip }},
      port: 33145
    rack: {{ rack | default('') }}
  rpk:
 ##   kafka_api:
 ##     brokers:
 ##       {% if advertise_public_ips | d() | bool %}
 ##       {% set ip_attr = "inventory_hostname" %}
 ##       {% else %}
 ##       {% set ip_attr = "private_ip" %}
 ##       {% endif %}
 ##       {% for host in groups["redpanda"] %}
 ##       - {{ host }}:9092
 ##       {% endfor %}
    admin_api:
      addresses:
 ##       {% if advertise_public_ips | d() | bool %}
 ##       {% set ip_attr = "inventory_hostname" %}
 ##       {% else %}
 ##       {% set ip_attr = "private_ip" %}
 ##       {% endif %}
        {% for host in groups["redpanda"] %}
        - {{ host }}:9644
        {% endfor %}