{% set address_attribute = 'inventory_hostname' if (advertise_public_ips | d() | bool) else 'private_ip' %}
cluster:
  rpc_server_tcp_recv_buf: 65536
  enable_rack_awareness: {{ true if rack is defined and rack != -1 else false }}
node:
  cluster_id: redpanda
  organization: redpanda-test
  redpanda:
    node_id: "{{ id }}"
    data_directory: "/var/lib/redpanda/data"
    advertised_kafka_api:
    - address: {{ hostvars[inventory_hostname][address_attribute] }}
      port: {{ redpanda_kafka_port }}
    advertised_rpc_api:
      address: {{ hostvars[inventory_hostname].private_ip }}
      port: {{ redpanda_rpc_port }}
    rpc_server:
      address: {{ hostvars[inventory_hostname].private_ip }}
      port: {{ redpanda_rpc_port }}
    rack: {{ rack | default('null') }}
  rpk:
    admin_api:
      addresses:
{% for host in groups["redpanda"] %}
      - {{ hostvars[host][address_attribute] }}:{{ redpanda_admin_api_port }}
{% endfor %}
    kafka_api:
      brokers:
{% for host in groups["redpanda"] %}
      - {{ hostvars[host][address_attribute] }}:{{ redpanda_kafka_port }}
{% endfor %}