node:
  redpanda:
    admin_api_tls:
      enabled: true,
      require_client_auth: false,
      key_file: /etc/redpanda/certs/node.key,
      cert_file: /etc/redpanda/certs/node.crt,
      truststore_file: /etc/redpanda/certs/truststore.pem
    kafka_api_tls:
      enabled: true,
      require_client_auth: false,
      key_file: /etc/redpanda/certs/node.key,
      cert_file: /etc/redpanda/certs/node.crt,
      truststore_file: /etc/redpanda/certs/truststore.pem
    rpc_server_tls:
      enabled: true,
      require_client_auth: false,
      key_file: /etc/redpanda/certs/node.key,
      cert_file: /etc/redpanda/certs/node.crt,
      truststore_file: /etc/redpanda/certs/truststore.pem
  rpk:
    admin_api:
      tls:
        truststore_file: /etc/redpanda/certs/truststore.pem
    kafka_api:
      tls:
        truststore_file: /etc/redpanda/certs/truststore.pem